<h1>Operations with numbers</h1>

In [1]:
21 * 21 #Returns int

441

In [2]:
21 * 21.0 #Returns float

441.0

In [3]:
21/3 #Returns float (division always returns float)

7.0

In [4]:
21//3 #Returns int

7

In [5]:
21//3.0 #Returns float

7.0

In [6]:
21//3.2 #Returns float whose value is the lower integer bound of 21//3.2

6.0

In [7]:
21%4 #Returns int (the remainder of dividing 21 by 4)

1

In [8]:
21%4.4 #Returns float (21 - 21//4.4)

3.3999999999999986

In [9]:
21**4 #Returns int

194481

In [10]:
21**4.2 #Returns float

357537.0379611622

<h1>String operations</h1>

<h3>Indexing</h3>

In [11]:
x = "Always take a banana to a party!"

In [12]:
x[3] #Returns the 4th (i+1)th character in x

'a'

In [13]:
x[-1] #Returns the last character in x

'!'

In [14]:
x[-2] #Returns the second last character in x

'y'

In [17]:
#The plus operator concatenates two strings to give rise to a third string
x="Hello"
y="Dolly"
z=x+y
print(x,y,z,id(x),id(y),id(z)) #x, y and z are all different strings

Hello Dolly HelloDolly 140417851949608 140417851951288 140417851298224

In [18]:
#Since python doesn't understand that we need a space between Hello and Dolly, we need to add it ourselves
z = x + " " + y
print(z)

Hello Dolly

<h1>booleans</h1>

In [19]:
x=4
y=2
z=(x==y) #False because x and y are not the same
z=(x==x) #True because x and y are the same

In [20]:
#Comparison is by value
x = "Hello"
y = "Hello"
print(id(x),id(y)) #Different strings

140417851949496 140417851949496

In [21]:
print(x == y) #But they have the same value

True

In [22]:
x=8
print(x,bool(x)) #Non-zero numbers, strings with values are always True

8 True

In [23]:
x='' #Empty string
print(x,bool(x)) #Empty strings, 0 numbers are always False

 False

<h3>Logical operators</h3>

In [24]:
x=4
y=5
print(x>2 and y>2) #True because both x and y are greater than 2

True

In [25]:
print(x>2 and y<2) #False because one is False

False

In [26]:
print(x<2 and y<2) #False because both are False

False

In [27]:
print(x>2 or y>2) #True because at least one is True

True

In [28]:
print(x<2 or y>2) #True because at least one is True

True

In [29]:
print(x<2 or y<2) #False because both are False

False

In [30]:
print(not(x>2 or y>2)) #False because x>2 or y>2 is True

False

In [31]:
print(x or y) #4 because x is True (non-zero) so no need to evaluate y. Value of x is returned

4

In [32]:
print(x and 0+3) #3 because x is non-zero but need to check the second operand as well. That evaluates to 3

3

<h1>Assignment</h1>

In [34]:
x = p + 10 #NameError! p is not defined

NameError: name 'p' is not defined

In [35]:
p = 7
x = p + 10 #This works
print(x)

17

In [36]:
x,y = 3,4
print(x,y) #x is 3 and y is 4

3 4

In [37]:
x = 7
x += 4 
print(x) #x is 11 because x += 4 is equivalent to x = x+4

11